{% extends "base.html" %}

{% block content %}
		<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li>
							<a href="#">Women's Accessories</a>
							<ul>
								<li><a href="#">Charm</a></li>
								<li><a href="#">Hair Accessories</a></li>
								<li><a href="#">Brouches</a></li>
								<li><a href="#">Pins</a></li>
								<li><a href="#">Set</a></li>
								<li><a href="#">Bracelets</a></li>
								<li><a href="#">Glasses</a></li>
								<li><a href="#">Journals</a></li>
								<li><a href="#">Hair Pieces</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div>
					<h2><a href="#">Recommended</a></h2>
				</div>
				<div>
					<h2><a href="#">Famous Brands</a></h2>
				</div>
				<div>
					<h2><a href="#">Women's Style</a></h2>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="/static/images/accesory.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>Beauty Care</h2>
							<span>Show</span>
							<ul>
								<li class="selected"><a href="#">8</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">25</a></li>
								<li><a href="#">50</a></li>
							</ul>
						</div>
						<div>
							<ul>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li>...</li>
								<li><a href="#">34</a></li>
							</ul>
							<a href="#">next</a>
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/bath-set.jpg" alt=""/></a>
							<h4>Bath Set</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/blusher-brush.jpg" alt=""/></a>
							<h4>Blusher Blush</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/fine-curler.jpg" alt=""/></a>
							<h4>Fine Curler</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/chick-brush.jpg" alt=""/></a>
							<h4>Chick Brush</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/eyebrow-comb.jpg" alt=""/></a>
							<h4>Eyebrow Comb</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/beauty-box.jpg" alt=""/></a>
							<h4>Beauty Box</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/comb-set.jpg" alt=""/></a>
							<h4>Comb Set</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/ep-sharpener.jpg" alt=""/></a>
							<h4>Ep Sharpener</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
        </div>
{% endblock %}
	</body>
</html>