{% extends "base.html" %}

{% block content %}
		<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li><a href="#">Tees / T-Shirts</a></li>
						<li><a href="#">Casual Tops</a></li>
						<li><a href="#">Blouses &amp; Shirts</a></li>
						<li><a href="#">Dresses</a></li>
						<li><a href="#">Knits</a></li>
						<li><a href="#">Denims &amp; Jeans</a></li>
						<li><a href="#">Pants</a></li>
						<li><a href="#">Skirts</a></li>
						<li><a href="#">Shorts</a></li>
						<li><a href="#">Sets</a></li>
						<li><a href="#">Swimwear</a></li>
						<li><a href="#">Hoddies</a></li>
						<li><a href="#">Sweaters</a></li>
						<li><a href="#">Jackets &amp; Blazers</a></li>
						<li><a href="#">Outerwear</a></li>
						<li><a href="#">Belts</a></li>
						<li><a href="#">Hats &amp; Scarves</a></li>
						<li><a href="#">Hosiery</a></li>
						<li><a href="#">Innerwear</a></li>
						<li><a href="#">Plus-size</a></li>
						<li><a href="#">Maternity</a></li>
					</ul>
				</div>
				<div>
					<h2><a href="#">Recommended</a></h2>
				</div>
				<div>
					<h2><a href="#">Famous Brands</a></h2>
				</div>
				<div>
					<h2><a href="#">Women's Style</a></h2>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="/static/images/apparel.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>New Arrival</h2>
							<span>Show</span>
							<ul>
								<li class="selected"><a href="#">8</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">25</a></li>
								<li><a href="#">50</a></li>
							</ul>
						</div>
						<div>
							<ul>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li>...</li>
								<li><a href="#">34</a></li>
							</ul>
							<a href="#">next</a>
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="new_arrival.html"><img src="/static/images/apparel1.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel2.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel3.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel4.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="new_arrival.html"><img src="/static/images/apparel5.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel6.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel7.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="new_arrival.html"><img src="/static/images/apparel8.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
        </div>
{% endblock %}