{% extends "base.html" %}

{% block content %}
<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li><a href="#">Women's Face Care</a></li>
						<li><a href="#">Men's Face Care</a></li>
						<li><a href="#">Body Care</a></li>
						<li><a href="#">Fragrance</a></li>
						<li><a href="#">Makeup</a></li>
						<li><a href="#">Bath</a></li>
						<li><a href="#">Hair</a></li>
						<li><a href="#">Hygene</a></li>
						<li><a href="#">Circle Lenses</a></li>
					</ul>
				</div>
				<div>
					<h2><a href="#">Recommended</a></h2>
				</div>
				<div>
					<h2><a href="#">Famous Brands</a></h2>
				</div>
				<div>
					<h2><a href="#">Women's Style</a></h2>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="/static/images/beauty-care.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>Beauty Care</h2>
							<span>Show</span>
							<ul>
								<li class="selected"><a href="#">8</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">25</a></li>
								<li><a href="#">50</a></li>
							</ul>
						</div>
						<div>
							<ul>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li>...</li>
								<li><a href="#">34</a></li>
							</ul>
							<a href="#">next</a>
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/organic-soap.jpg" alt=""/></a>
							<h4>Organic Soap</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/moisture-serum.jpg" alt=""/></a>
							<h4>Moisture Serum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/exfoliating-bath-kit.jpg" alt=""/></a>
							<h4>Exfoliating Bath Kit</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/sberry-lipstick.jpg" alt=""/></a>
							<h4>Sberry Lipstick</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/massage-oils.jpg" alt=""/></a>
							<h4>Massage Oils</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/essential-oils.jpg" alt=""/></a>
							<h4>Essential Oils</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/cherry-lipstick.jpg" alt=""/></a>
							<h4>Cherry Lipstick</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/carrot-soap.jpg" alt=""/></a>
							<h4>Carrot Soap</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}