{% extends "base.html" %}

{% block content %}
<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Archives</a></h2>
					<ul class="archives">
						<li>
							<a href="#">2011</a>
							<span>(60)</span>
							<ul>
								<li><a href="#">November</a><span>(11)</span></li>
								<li><a href="#">Octover</a><span>(3)</span></li>
								<li><a href="#">September</a><span>(8)</span></li>
								<li><a href="#">August</a><span>(3)</span></li>
								<li><a href="#">July</a><span>(2)</span></li>
								<li><a href="#">June</a></li>
								<li><a href="#">May</a><span>(8)</span></li>
								<li><a href="#">April</a><span>(7)</span></li>
								<li><a href="#">March</a><span>(7)</span></li>
								<li><a href="#">February</a><span>(10)</span></li>
								<li><a href="#">January</a><span>(1)</span></li>
							</ul>
						</li>
						<li><a href="#">2010</a></li>
						<li><a href="#">2009</a></li>
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="blog">
					<div>
						<div class="stats">
							<div class="date"><span>Nov 09</span></div>
							<div class="share">
								<a href="http://twitter.com/fwtemplates" id="tweets"></a>
								<a href="#" id="heart"></a>
								<a href="http://facebook.com/freewebsitetemplates" id="likes"></a>
							</div>
						</div>
						<div>
							<h1>Newest Styles in HerDesigns</h1>
							<h2>Check out the latest designs</h2>
							<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas
							humanitatis per seacula quarta decima et quinta decima. Eodem anitatis per seacula quarta decima et quinta decima.</p>
							<h2>New Fashion</h2>
							<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis
							per seacula quarta decima et quinta decima. Eodem anitatis per seacula quarta decima et quinta decima</p>
							<p>Aenean quis viverra neque. Nulla facilisi. In hac habitasse platea dictumst. Curabitur lorem velit, suscipit a convallis
							vel, lobortis sit amet risus. Duis luctus aliquet pharetra. Donec suscipit nisl et sem scelerisque faucibus tempus dolor
							sodales. Nunc sodales nisl a quam egestas pretium non a leo.</p>
						</div>
					</div>
					<div>
						<div class="stats">
							<div class="date"><span>Nov 03</span></div>
							<div class="share">
								<a href="http://twitter.com/fwtemplates" id="tweets"></a>
								<a href="#" id="heart"></a>
								<a href="http://facebook.com/freewebsitetemplates" id="likes"></a>
							</div>
						</div>
						<div>
							<h1>Christmas is coming!</h1>
							<h2>How about Avail our Christmas Sale</h2>
							<p>Aenean nec velit nec justo malesuada fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
							per inceptos himenaeos. Donec eget nisl lobortis nisi congue ornare eu at nulla. In in ipsum nisi, quis luctus enim. Fusce
							fringilla molestie purus sed convallis.</p>
						</div>
					</div>
					<div>
						<div class="stats">
							<div class="date"><span>Oct 25</span></div>
							<div class="share">
								<a href="http://twitter.com/fwtemplates" id="tweets"></a>
								<a href="#" id="heart"></a>
								<a href="http://facebook.com/freewebsitetemplates" id="likes"></a>
							</div>
						</div>
						<div>
							<h1>Shopping?</h1>
							<h2>Try it online</h2>
							<p>Aenean nec velit nec justo malesuada fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
							inceptos himenaeos. Donec eget nisl lobortis nisi congue ornare eu at nulla. In in ipsum nisi, quis luctus enim. Fusce fringilla
							molestie purus sed convallis. Aliquam nibh neque, placerat id.</p>
						</div>
					</div>
					<div class="paging">
						<a href="#">previous</a>
						<div>
							<ul>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li>...</li>
								<li><a href="#">34</a></li>
							</ul>
							<a href="#">next</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}