{% extends "base.html" %}

{% block content %}
<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li>
							<a href="#">Women's Jewelry</a>
							<ul>
								<li><a href="#">Necklace</a></li>
								<li><a href="#">Bracelets</a></li>
								<li><a href="#">Rings</a></li>
								<li><a href="#">Earrings</a></li>
								<li><a href="#">Bling Blings</a></li>
								<li><a href="#">Anklets</a></li>
								<li><a href="#">Watch</a></li>
							</ul>
						</li>

					</ul>
				</div>
				<div>
					<h2><a href="#">Recommended</a></h2>
				</div>
				<div>
					<h2><a href="#">Famous Brands</a></h2>
				</div>
				<div>
					<h2><a href="#">Women's Style</a></h2>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="/static/images/jewelry.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>Jewelry</h2>
							<span>Show</span>
							<ul>
								<li class="selected"><a href="#">8</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">25</a></li>
								<li><a href="#">50</a></li>
							</ul>
						</div>
						<div>
							<ul>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li>...</li>
								<li><a href="#">34</a></li>
							</ul>
							<a href="#">next</a>
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/haruka.jpg" alt=""/></a>
							<h4>Haruka</h4>
							<p>Indian Bracelet Set</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/diaring.jpg" alt=""/></a>
							<h4>Diaring</h4>
							<p>Diamond Ring</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/pearl-jewel-set.jpg" alt=""/></a>
							<h4>Pearl Jewel Set</h4>
							<p>Pearl Jewelry</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/coin-bracelet.jpg" alt=""/></a>
							<h4>Coin Bracelet</h4>
							<p>Indian Bracelet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="#"><img src="/static/images/silver-watch.jpg" alt=""/></a>
							<h4>Silver Watch</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/diapearl.jpg" alt=""/></a>
							<h4>Diapearl</h4>
							<p>Diamond Pearl Necklace</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/diamond-necklace.jpg" alt=""/></a>
							<h4>Diamond Necklace</h4>
							<p>Diamond White Gold</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="/static/images/divers-watch.jpg" alt=""/></a>
							<h4>Divers Watch</h4>
							<p>Divers Watch</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}